@model FlightBookingApp.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Flight Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flightid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flightid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departuretime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departuretime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrivaltime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrivaltime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currentlybookedseats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currentlybookedseats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>
<div>
    @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    <a style="background-color: #0c63e4" class="btn btn-secondary" href="@Url.Action("Edit", "Flight",new{id=Model.Flightid})">Edit</a>
    @* <a asp-action="Index">Back to List</a> *@
</div>
